
@model MyFirstMVC.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>@Model.MembershipType.Name</li>
    @*<li>@Model.DOB</li>*@
    @if (Model.DOB.HasValue)
    {
        <li>@Model.DOB.Value.ToShortDateString()</li>
    }
</ul>



